<div class="content">
    <div class="container-fluid container-fluid--noSpaceAround">
        <div class="HeaderedGrid__header">
            <h3 class="_1Fj-rlIZXTSNgYOCuLh7xo" style="text-align: left;">YOUR MUSIC</h3>
        </div>

        <div class="_2SnF0IAy7I_tM-7M5iEcyT row">

            <div id="good-morning" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 efect">
                <a class="cover-art shadow cover-art--with-auto-height" aria-hidden="true" href="/good-morning-page" style="width: auto; height: auto; margin-top: 10px;">
                    <div class="icon">
                        <svg width="80" height="81" viewBox="0 0 80 81" xmlns="http://www.w3.org/2000/svg">
              </svg>
                    </div>
                    <div class="cover-art-image cover-art-image-loaded blockefect" style="background-image: url(&quot;https://t.scdn.co/images/878e1eda3d084a4584465626a8f7dd26.jpeg&quot;);">
                        <h2 style=" text-align: -webkit-center; padding-top: 80%; font-size: x-large;">Good Morning</h2>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>